.services_container{
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.875rem;
}

.services_card {
    text-align: center;
    padding: 1.875rem;
    border-radius: var(--border-radius);
    background-color: var(--container-color);
}